
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&display=swap');

:root {
  --black: #2B323E;
  --graydarkx: #404A5C;
  --graydark: #79808C;
  --gray: #9FA4AD;
  --graylight: #E3E4E5;
  --graylightx: #F0F1F1;
  --orange: #FD6D47;
  --yellow: #FDCC68;
  --red: #E83B3B;
  --pink: #E91E63;
  --aqualight: #A8E9D6;
  --aqua: #6BD9B9;
  --aquadark: #33C59A;
  --blue: #6599CC;
  --bluelight: #B8CCEB;
  --greenlight: #D5EBE6;
  --green: #81CA63;
  --greendark: #0B9369;
  --placeholder: #C3C6CB;
}


* {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: var(--graydarkx);
  background: inherit;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  color: var(--gray);
  font-size: 14px;
  white-space: normal;
  border: 1px solid var(--aqua);
  padding: 15px;
  margin: 10px 0;
}
pre code {
  font-family: monospace;
  word-break: break-all;
}

.uk-link, a {
  color: var(--aqua);
  text-decoration: none;
  cursor: pointer;
}
.uk-link:hover, a:hover {
  color: var(--aqualight);
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, legend, .uk-heading-small {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 1.3;
}

.uk-text-bold {
  font-weight: 600;
}

/* TXT AND COLORS */

.uk-text-xxsmall {
  font-size: 11px !important;
  line-height: 1.4;
  letter-spacing: normal;
}
.uk-text-xsmall, .uk-text-meta {
  font-size: 12px !important;
  line-height: 1.4;
  letter-spacing: normal;
}
.uk-text-small {
  font-size: 14px !important;
  line-height: 1.4;
  letter-spacing: normal;
}
.uk-text-body {
  font-size: 16px !important;
}
.uk-text-medium {
  font-size: 18px !important;
}
.uk-text-large, .uk-text-lead {
  font-size: 22px !important;
}
.uk-text-xlarge, .uk-modal-title {
  font-size: 28px !important;
}
.uk-text-xxlarge {
  font-size: 35px !important;
}

.uk-card-title {
  font-size: 20px;
}
.uk-article-title {
  font-size: 24px;
}
.uk-heading-divider {
  padding-bottom: 10px;
  border-bottom-color: var(--graylightx);
}


.uk-text-black {
  color: var(--black) !important;
}
.uk-text-graydarkx {
  color: var(--graydarkx) !important;
}
.uk-text-aquadark, .uk-text-primary {
  color: var(--aquadark) !important;
}
.uk-text-aqua {
  color: var(--aqua) !important;
}
.uk-text-aqualight {
  color: var(--aqualight) !important;
}
.uk-text-blue, .uk-text-secondary {
  color: var(--blue) !important;
}
.uk-text-orange, .uk-text-warning {
  color: var(--orange) !important;
}
.uk-text-red  {
  color: var(--red) !important;
}
.uk-text-pink, .uk-text-danger  {
  color: var(--pink) !important;
}
.uk-text-graydark, .uk-text-emphasis {
  color: var(--graydark) !important;
}
.uk-text-gray {
  color: var(--gray) !important;
}
.uk-text-graylight, .uk-text-muted {
  color: var(--graylight) !important;
}
.uk-text-white {
  color: #FFF !important;
}
.uk-text-green, .uk-text-success {
  color: var(--green) !important;
}


.uk-background-muted {
  background-color: #F7F8FA;
}
.uk-background-secondary {
  background-color: var(--greenlight);
}
.uk-background-dark {
  background: #2B323E;
}
.uk-background-light {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: screen;
}
.uk-background-primary {
  background-image: linear-gradient(-225deg, #A8E9D6 0%, #6BD9B9 50%, #33C59A 90%);
}



/* CARDS */

.uk-card-body {
  padding: 30px 30px;
}

.uk-card-default {
  color: var(--graydarkx);
  box-shadow: 0 0 15px -1px var(--graylight);
}
.uk-card-default {
  color: var(--graydarkx);
  border: 1px solid var(--graylightx);
  box-shadow: 0 0 10px -1.5px var(--graylight);
}
.uk-card-hover:not(.uk-card-default):not(.uk-card-primary):not(.uk-card-secondary):hover {
  box-shadow: 0 0 20px -2px var(--graylight);
}

/* LAYOUT */

.o2-nav {
  padding: 10px 0;
  background-image: linear-gradient(-225deg, #A9F9EB 0%, #7FC6AE 60%, #6BD9B9 100%);
}
.uk-navbar-toggle svg {
  width: 25px;
}
.uk-navbar-toggle, .uk-logo, .uk-navbar-item {
  color: var(--graydarkx);
  padding: 0 20px;
}
.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  min-height: 100px;
}
.uk-logo img {
  height: 90px;
}


.uk-subnav>*>:first-child {
  color: var(--graydarkx);
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}
.uk-subnav>*>:first-child .uk-badge {
  background: var(--greendark);
  font-size: 11px;
}
.uk-subnav>*>a:focus, .uk-subnav>*>a:hover {
  color: var(--black);
  text-decoration: none;
  outline: 0;
}
.uk-subnav-divider>:nth-child(n+2):not(.uk-first-column)::before {
  border-left: 2px solid #FFFFFF;
}
.uk-subnav-pill>.uk-active>a {
  background-color: var(--greendark);
  color: #fff;
}

/* FOOT */

.o2-foot {
  padding: 40px 0;
  color: white;
  text-align: center;
}
.o2-foot img.o2-patricinio {
  margin: 5px 15px;
  max-width: 130px;
  max-height: 30px;
}
.o2-foot img.o2-patricinio-dark {
  filter: invert(1);
}

/* TABLES */

.uk-table-small td, .uk-table-small th {
  padding: 10px;
}
.uk-table-small th {
  font-size: 11px;
  font-weight: 500;
  color: var(--gray);
}
.uk-table-small td {
  font-size: 14px;
  font-weight: 500;
  color: var(--graydarkx);
}

/* LIST */

.uk-list-striped>li:nth-of-type(odd) {
  background: #F7F8FA;
}
.uk-list-striped>li:nth-of-type(odd) {
  border-top: 1px solid var(--graylight);
  border-bottom: 1px solid var(--graylight);
}
.uk-list-divider>li:nth-child(n+2) {
  border-top: 1px solid #33C59A;
}

.uk-padding-small {
  padding: 10px;
}
.uk-padding {
  padding: 20px;
}

/* PLACEHOLDERS */

.uk-input::-webkit-input-placeholder, ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--placeholder);
}
.uk-input::-moz-placeholder, ::-moz-placeholder { /* Firefox 19+ */
  color: var(--placeholder);
}
.uk-input:-ms-input-placeholder, :-ms-input-placeholder { /* IE 10+ */
  color: var(--placeholder);
}
.uk-input:-moz-placeholder, :-moz-placeholder { /* Firefox 18- */
  color: var(--placeholder);
}
.uk-input::placeholder, ::placeholder {
  color: var(--placeholder);
}

.uk-input[disabled]::-webkit-input-placeholder { color: var(--gray); }
.uk-input[disabled]::-moz-placeholder { color: var(--gray); }
.uk-input[disabled]:-moz-placeholder { color: var(--gray); }
.uk-input[disabled]::placeholder { color: var(--gray); }
.uk-input[disabled]:-ms-input-placeholder  { color: var(--gray); }


/* CUSTOM FORMS */

.uk-form-label {
  padding: 5px 10px;
  margin-bottom: 0 !important;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: var(--black);
}
.uk-form-large:not(textarea):not([multiple]):not([size]) {
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px !important;
}
.uk-input, .uk-select, .uk-textarea {
  color: var(--graydark);
  border: 1px solid var(--placeholder);
  border-radius: 7px;
  box-shadow: 0 0 5px 0.5px var(--graylight);
  font-size: 14px;
}
.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
  color: var(--graydarkx);
  outline: 0;
  border-color: var(--aqua);
  box-shadow: 0 0 8px 0.05px var(--aqualight);
}

label {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: var(--graydarkx);
}
.uk-checkbox, .uk-radio {
  border: 1px solid var(--gray);
}
.uk-checkbox:focus, .uk-radio:focus {
  outline: 0;
  border-color: var(--aqua);
}
.uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus {
  background-color: var(--aquadark);
}
.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
  background-color: var(--aqua);
}
.uk-form-icon-flip~.uk-input {
  padding-right: 50px !important;
}
.uk-form-icon {
  width: 50px;
  color: var(--placeholder);
}
.validation-error {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 5px;
}

/* CUSTOM BUTTONS */

.uk-button {
  letter-spacing: 0.3px;
  font-size: 14px;
}
.uk-button-large {
  line-height: 50px;
  font-weight: 600;
}
.uk-button-small {
  line-height: 30px;
  font-weight: 500;
  font-size: 13px;
}
.uk-button-default {
  font-weight: 500;
  background-color: #FFFFFF;
  color: var(--graydark);
  border: 1px solid var(--gray);
  box-shadow: inset 0 0 0 0.5px var(--graylight);
}
.uk-button-default:hover {
  background-color: #FFFFFF;
  color: var(--graydarkx);
  border: 1px solid var(--graydark);
  box-shadow: inset 0 0 0 0.5px var(--gray);
}
.uk-button-danger {
  background: var(--pink);
}
.uk-button-primary {
  font-weight: 600;
  background-color: var(--aqua);
  box-shadow: inset 0 0 15px 1px var(--aquadark);
}
.uk-button-primary:hover {
  background-color: var(--aquadark);
}
.uk-button-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--graydark);
  text-transform: inherit;
}
.uk-button-link:hover {
  color: var(--aquadark);
}

.o2-buttongroup .uk-button-small {
  background: #FFFFFF;
  padding: 10px;
  border: 2px solid var(--graylight);
  margin: 5px 10px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  color: var(--gray);
  min-width: 120px;
  min-height: 110px;
}
.o2-buttongroup .uk-button-small:hover {
  background: #FFFFFF;
  padding: 10px;
  border: 2px solid var(--aqua);
  color: var(--aqua);
}
.o2-buttongroup .uk-button-small img {
  margin-bottom: 3px;
}
.o2-button {
  border-radius: 50px;
  padding: 10px 20px;
  line-height: 20px;
}
.o2-button img {
  vertical-align: middle;
  width: 22px;
  margin-left: 5px;
  margin-top: -3px;
}


/* DASHBOARD */

.uk-table td.table-id, .uk-table th.table-id {
  width: 80px;
  text-align: center;
}
.uk-table td.table-state, .uk-table th.table-state {
  width: 130px;
  text-align: center;
}
.uk-table td.table-date, .uk-table th.table-date {
  width: 100px;
  text-align: center;
}
.uk-table td.table-update, .uk-table th.table-update {
  width: 130px;
  text-align: center;
}
.uk-table td.table-user, .uk-table th.table-user {
  width: 130px;
  text-align: center;
}
.uk-table td.table-options, .uk-table th.table-options {
  width: 150px;
  text-align: center;
}

/* CUTOM LOGIN */

.o2-form.login-box {
  width: 70%;
  max-width: 300px;
  margin: auto;
}

@media (min-width: 960px) {
  .o2-register-box .o2-register-intro {
    border-right: 3px solid #E3E4E5;
  }
}
